.lottery h1{
    color: rgb(31, 126, 126);
}
 
button{
    margin-top: 2.5rem;
    padding: 0.3rem 1.3rem;
    font-size: 1.3rem;
    border-radius: 49px;
    outline: none;
    color: rgb(23, 129, 129);
    background-color: rgb(166, 233, 233);
}